@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p class="text-justify">MOVIEGUIDE is a community that provides assistance & information on all the movies released world wide, including the genre of movie, date of release star rating etc. So that people can plan and sort their field of interest accordingly.</p>
<br />
<h1>History</h1>
<p class="text-justify">In 1985, Dr. Ted Baehr and his wife, Lili Baehr, founded MOVIEGUIDE in Altanta, Georgia, in hopes to cultivate a better media landscape for their children and future generations.</p>
<p class="text-justify">MOVIE GUIDE started as a radio program, then a TV program and finally as a bi-weekly magazine. Even though the struggles in the beginning seemed insurmountable, God blessed the ministry with success.</p>
<p class="text-justify">In the 1990s, MOVIE GUIDE relocated its headquarters to the greater Los Angeles region, to be closer to all the Hollywood action. To date, MOVIE GUIDE now has TV and radio shows that are broadcasted in over 200 countries and a website filled with resources including movie reviews and articles.</p>
<br />
<h1>Description</h1>
<p class="text-justify">Movie Guide is a digital media brand that explores movie and streaming entertainment, serves fans, and helps people decide what to watch next – on any platform. You can count on Movie Guide’s bicoastal team of entertainment editors to guide your TV and streaming viewing experience with honest reviews, curated recommendations, breaking news, in-depth interviews, smart recaps, fun videos, and more immersive content that digs deep into your TV obsessions.</p>
<p class="text-justify">
    On AllMovie you'll find:
    <ul>
        <li>Reviews of upcoming and classic films</li>
        <li>In-depth Information about your favorite movies, actors and filmmakers</li>
        <li>New movies in theaters - Browse the movies playing at your local theaters and buy tickets for upcoming showings</li>
        <li>Now Available to Watch - Movies that are available to rent, stream or own on multiple streaming services</li>
        <li>Recommendations - An entire section devoted to personalized movie recommendations for you</li>
        <li>Explore movies by genre, mood or theme</li>
    </ul>
</p>
<br />
<h1>Mission</h1>
<p class="text-justify">
    MOVIE GUIDE’s mission is to redeem the values of the entertainment industry, according to biblical principles, by influencing industry executives and artists.
</p>