@model MovieGuide.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details:</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark text-white" asp-action="Edit" asp-route-id="@Model.GenreID">Edit</a> |
    <a class="text-white" asp-action="Index">Back</a>
</div>
