@model MovieGuide.Models.Genre

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Genre Details:</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GenreID" />
            <div class="form-group">
                <label asp-for="GenreName" class="control-label"></label>
                <input asp-for="GenreName" class="form-control" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-dark text-white btn-primary" type="submit" value="Save"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-white" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
