@model MovieGuide.Models.Photo

@{
    ViewData["Title"] = "Create";
}

<h1>Add Movie Photo:</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileUpload.FormFile" class="control-label"></label>
                <input asp-for="FileUpload.FormFile" type="file" class="form-control">
                <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieID" class="control-label"></label>
                <select asp-for="MovieID" class="form-control" asp-items="ViewBag.MovieID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark btn-block text-white"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-white" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
